// // http://www.ruanyifeng.com/blog/2012/06/sass.html

$fontSize: 30px;
.classs {
	font-size: $fontSize;
}
// $blue: #1875e7;

// div {
// 	color: $blue;
// }

// $side: left;

// .rounded {
// 	border-#{$side}-radius: 5px;
// }

// body {
// 	margin: (14px/2);
// 	top: 50px + 100px;
// 	right: $var * 10%;
// }

// div h1 {
// 	color: red;
// }

// div {
// 	h1 {
// 		color: red;
// 	}
// }

// p {
// 	border: {
// 		color: red;
// 	}
// }

// // 在嵌套的代码块内，可以使用&引用父元素。比如a:hover伪类，可以写成：
// a {
// 	&:hover { 
// 		color: #ffb3ff;
// 	}
// }


// .class1 {
// 	border: 1px solid #ddd;
// }


// .class2 {
// 	@extend .class1;
// 	font-size: 120%;
// }

// // Mixin有点像C语言的宏（macro），是可以重用的代码块。
// @mixin left {
// 	float: left;
// 	margin-left: 10px;
// }

// // 使用@include命令，调用这个mixin。
// div {
// 	@include left;
// }

// @mixin left($value: 10px) {
// 	float: left;
// 	margin-right: $value;
// }


// div {
// 	@include left(20px);
// }


// @mixin rounded($vert, $horz, $radius: 10px) {
// 	border-#{$vert}-#{$horz}-radius: $radius;
// 	-moz-border-radius-#{$vert}#{$horz}: $radius;
// 	--webkit-border-#{$vert}-${$horz}-radius: $radius;
// }


// #navbar li { @inlude rounded(top,left); }
// #footer { @include rounded(top, left , 5px); }


// // 颜色函数
// lighten(cc3, 10%) // #d6d65c
// darken(#cc3, 10%) // a3a329
// grayscale(#ccs) // #808080
// complement(#cc3) // #33c

// @import "path/filename.scss";
// @import "foo.css"


// p {
// 	@if 1 + 1 == 2 { border: 1px solidl; }
// 	@if 5 < 3 { border: 2px dotted; }

// 	@if lightness($color) > 30% {
// 		background-color: #000;
// 	} @else {
// 		background-color: #fff;
// 	}
// }


// @for $i from 1 to 10 {
// 	.border-#{$i} {
// 		border: #{$i}px solid blue;
// 	}
// }

// @i: 6;

// @while $i > 0 {
// 	.item-#{$i} { width: 2em * $i; }
// 	$i: $i - 2;
// }

// @each $member in a, b , c, d {
// 	.#{$member} {
// 		background-image: url("/image/#{$member}.jpg");
// 	}
// }


// @function double($n) {
// 	@return $n * 2;
// }


// #sidebar {
// 	width: double(5px);
// }







